/* Bootstrapキャンセル */
/* -------------------------------------------------- */
.navbar-default {
    background: #ffffff;
    border-bottom: none;
}

.navbar-default .navbar-toggle {
    border-radius: 0;
    border: none;
}



body {
	letter-spacing: 0.075em;
}
img, iframe {
    max-width: 100%;
}
a {
	cursor: pointer;
}


.form-control {
	padding: 10px 15px;
    height: auto;
    border-radius: 2px;
    border: none;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.05);
}
.form-control:focus {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25) inset;
}
.search {

}


.search .btn,
.search .btn:hover,
.search .btn:focus {
    background: none;
    border: none;
    color: #111111;
}

/*
.form-group.search:before {
    content: "\e003";
    font-family: 'Glyphicons Halflings';
    display: block;
}
*/

a.btn,
a.btn:hover,
a.btn:focus {
	text-decoration: none;
}

.btn {
	padding: 10px 15px;
	box-sizing: border-box;
	text-shadow: none;
	border-radius: 2px;
	line-height: 1;
}

.btn-lg, .btn-group-lg > .btn {
	padding: 16px 24px;
}

.btn-sm, .btn-group-sm > .btn {
	padding: 6px 9px;
}




/*
    #badd3b

    #1342af
*/

/* カスタマイズ */
/* -------------------------------------------------- */
body {
    background: #eeeeee;
}

.spot-list a.spot,
.bus-spot-list a.bus-spot {
    display: block;
}

.spot-list a.spot:hover,
.spot-list a.spot:focus,
.bus-spot-list a.bus-spot:hover,
.bus-spot-list a.bus-spot:focus {
    text-decoration: none;
}


/* バス停 */
a.bus-stop {
    padding: 15px 0;
    border-top: 1px solid #cccccc;
    display: block;
}

a.bus-stop,
a.bus-stop:hover {
    color: #111111;
    text-decoration: none;
}
a.bus-stop > * {
    display: block;
    line-height: 1.8;
}
a.bus-stop .name {
    display: block;
    font-size: 1.2em;
}

a.bus-stop .line {
    display: block;
    font-size: 0.75em;
}


/* 観光地 */
.spot-area .container {
    margin: 0;
    padding: 0;
    width: auto;
}

.spot-list {
    margin: -5px;
}
.spot-list a.spot .img,
.spot-list a.spot .content {
    margin: 5px;
}
.spot-list a.spot {
/*
    margin: 7.5px 5px;
*/
/*
    margin-top: 2px;
*/
    padding: 0;
    height: 60vw;
    position: relative;

    overflow: hidden;
}
.spot-list a.spot > .img {
    width: 100%;
    height: 100%;
/*
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    max-height: none;
*/
    position: absolute;

    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    overflow: hidden;
}
.spot-list a.spot > .img img {
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    max-height: none;

    display: block;
}
.spot-list a.spot > .content {
    padding: 4vw 15px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1000;
    color: #ffffff;

    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;

    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;

    box-sizing: border-box;

/* 0.5 */
/*
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
*/
/* 0.75 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.75) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bf000000',GradientType=0 ); /* IE6-9 */

/*
    background-color: rgba(0, 0, 0, 0.5);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.0)), to(rgba(0, 0, 0, 0.5)));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5));
*/
/*
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5) inset;
*/
}
.spot-list a.spot span {
    display: block;
    font-size: 2.5vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1), 0 0 5px rgba(0, 0, 0, 1), 0 0 2px rgba(0, 0, 0, 0.5);
}
.spot-list a.spot .name {
    margin-bottom: 0.25em;
    font-size: 5vw;
}




@media (min-width: 768px) {
    .spot-area .container {
        margin: 50px;
        width: auto;
    }

    .spot-list {
        margin: -5px;
    }
    .spot-list a.spot .img,
    .spot-list a.spot .content {
        margin: 5px;
    }

    .spot-list a.spot {
        height: auto;
        overflow: auto;
    }
    .spot-list a.spot:hover {
        opacity: 0.6;
    }

    .spot-list a.spot > .img {
        margin-bottom: 0;
        height: 30vw;
        position: relative;
    }
    .spot-list a.spot > .content {
        margin-top: 0;
        position: relative;
        padding: 15px;
        background: #ffffff
    }

    body .spot-list a.spot > .img {
        margin-top: 0;
        margin-bottom: 0;
    }
    body .spot-list a.spot > .content {
        margin-top: 0;
    }

    .spot-list a.spot span {
        font-size: 14px;
        color: #111111;
        text-shadow: none;
    }
    .spot-list a.spot .name {
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    .spot-list {
        margin: -15px;
    }
    .spot-list a.spot .img,
    .spot-list a.spot .content {
        margin: 15px;
    }

    .spot-list a.spot .img {
        height: 20vw;
    }
    .spot-list a.spot > .content {
        margin-top: 0;
        position: relative;
        padding: 20px;
    }
}

@media (min-width: 1200px) {

}
















body {
    padding-top: 130px;
}

.dropdown-menu .button {
    background: none;
    border: none;
    width: 100%;
    display: block;
}

/*
.navbar-collapse .search,
.navbar-collapse .language {
    display: inline-block;
    margin-right: 5px;
}
*/





.navbar-form {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 0;
}
.search {
    position: relative;
}
.search .btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}


.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
}

.navbar-header {
    height: 60px;
}
.navbar-collapse .language {
    position: absolute;
    top: 8px;
    right: 15px;
}
.navbar-collapse .language .btn {
    border-radius: 0;
    border: none;
}
.navbar-collapse .language .dropdown-menu {
    top: 40px;
    left: auto;
    right: 0;
    border-radius: 2px;
    border: none;
}
.navbar-collapse .language  .dropdown-menu > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar-collapse .language .glyphicon {
    vertical-align: baseline;
}


@media (min-width: 768px) {
    .navbar-default .navbar-collapse {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    }
    
    .navbar-collapse .search,
    .navbar-collapse .language {
        display: inline-block;
        margin-right: 5px;
    }
    .navbar-collapse .search {
        margin-right: 20px;
    }
    .navbar-form .form-control {
        width: 300px;
    }

    .navbar-collapse .language .btn {
        position: relative;
    }
    .navbar-collapse .language {
        position: relative;
        top: 0;
    }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
