
a.bus-stop {
    padding: 15px 0;
    border-top: 1px solid #cccccc;
    display: block;
}

a.bus-stop,
a.bus-stop:hover {
    color: #111111;
    text-decoration: none;
}
a.bus-stop > * {
    display: block;
    line-height: 1.8;
}
a.bus-stop .name {
    display: block;
    font-size: 1.2em;
}

a.bus-stop .line {
    display: block;
    font-size: 0.75em;
}



.dropdown-menu .button {
    background: none;
    border: none;
    width: 100%;
    display: block;
}

.navbar-collapse .language {
    display: inline-block;
    margin-right: 5px;
}
